// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 32rem;
  margin: 0 auto;
}

footer {
  color: $secondary-text;
  font-family: $serif-font-family-alt;
  margin-top: 2em;
  margin-bottom: 2rem;
}
