// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  font-family: $sans-font-family;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  @media (min-width: 34em){
    padding-top: 1rem;
    text-align: right;
  }
}

.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li{
    display: inline-block;
  }
}


.masthead-title {
  @media (min-width: 34em){
  float: left;
  }
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}
