// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: $accent-text;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  font-family: $serif-font-family-alt;
  display: block;
  margin-top: -.5rem;
  color: $secondary-text;
}


// Related posts
.post-navigation{
  .material-icons{
    vertical-align: middle;
  }
  .next{
    float: right;
    margin-left: 5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .prev{

  }
}
