@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500');
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
// $blue: #6a9fb5;
$brown: #8f5536;

$goofy-font-family: "Playfair Display", serif;

$serif-font-family: 'Cormorant Garamond', serif;
$serif-font-family-alt: 'Eczar', serif;

$sans-font-family: 'Rubik', sans-serif;

$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: #515151;
$body-bg: #fff;
$link-color: $blue;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 21px;

$code-font-family: 'Source Code Pro', monospace;
$code-color: #bf616a;
