@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500');
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/**
  *  FONTS
  */
$goofy-font-family: "Playfair Display", serif;

$serif-font-family: 'Cormorant Garamond', serif;
$serif-font-family-alt: 'Eczar', serif;

$sans-font-family: 'Rubik', sans-serif;

/**
  *  COLORS
  */

// https://coolors.co/3a3042-db9d47-ff784f-ffe19c-edffd9
$primary-text:#5D5564;
$secondary-text:#C9C6CB;
$accent-text:#352C3C;
$bg-text:#F7F7F7;

$primary-color:#000;
$secondary-color:#000;
$accent-color:#000;

$root-font-size: 16px;
$root-line-height: 1.5;

$body-color: $primary-text;
$body-bg: #fff;
$link-color: $accent-text;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 21px;

$code-font-family: 'Source Code Pro', monospace;
$code-color: #FF784F;
